<div id="<%= dom_id article %>">
  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= article.description %>
  </p>

<p>
    <% if article.user %>
    <strong>by:</strong>
    <%= article.user.username %>
  </p>
  <% end%>
</div>
